<p>
  <b>Nombre:</b>
  <%= @requerimiento.nombre %>
</p>
<%= form_for(@requerimiento, :html => { :id => "forma_requerimiento" })  do |f| %>
<div class="field">
  <%= f.label :comentarios %><br />
  <%= f.text_area :comentarios_rh %>
  <%= f.hidden_field :estatus, :value => current_action %>
</div>
<% if current_action == "Convertido en Vacante"%>
<div class="field">
    <%= f.label :pago_mínimo %><br />
    <%= f.text_field :pago_minimo %>
  </div>    
  <div class="field">
    <%= f.label :pago_máximo %><br />
    <%= f.text_field :pago_maximo %>
  </div>  
<% end %>

<div>
<% if current_action == "Convertido en Vacante"%>
<%= f.submit "Convertir en Vacante",:confirm => '¿Estás seguro?', "data-role" => "button", "data-icon" => "check",  "data-theme" => "b",  "data-inline" => "true"  %>
<% else %>
<%= f.submit "Rechazar",:confirm => '¿Estás seguro?', "data-role" => "button", "data-icon" => "delete",  "data-inline" => "true"  %>
<% end %>
</div>

<% end %>
