<%= form_for(@requerimiento, :html => { :id => "forma_requerimiento" })  do |f| %>
  
  <%= render 'botones_forma'%>  
  <% if @requerimiento.errors.any? %><br/><center>
    <div id="error_explanation">
      <h2><%= pluralize(@requerimiento.errors.count, "error no permite", "errores no permiten") %> registrar este requerimiento:</h2>
<br/>
      <ul>     
          <% @requerimiento.errors.each do |attribute, errors_array| %>
 
            <li><%= errors_array %></li>
           <% end %>
      </ul>
    </div></center>
  <% end %>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <% if current_user.role == "administrador" or current_user.role == "gerente_general" %>
  <div class="field">
    <%= f.label :Área_que_solicita %><br />
    <%= f.collection_select(:area_id, Area.all, :id , :nombre, options = {:prompt => "Selecciona una área"})  %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :posicion %><br />
    <% if params[:posicion] %>
    <%= autocomplete_field_tag 'posicion','', autocomplete_posicion_nombre_requerimientos_path, :update_elements => {:id => '#requerimiento_posicion_id' }, :value => params[:posicion] %>
    <% else %>
    <%= autocomplete_field_tag 'posicion','', autocomplete_posicion_nombre_requerimientos_path, :update_elements => {:id => '#requerimiento_posicion_id' } %>
    <% end%>
    <%= f.hidden_field :posicion_id , :value => params[:id]%>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_contratación_deseada %><br />
    <%= f.date_select :fecha_contratacion_deseada, :order => [:day, :month, :year], :use_month_names => meses, :end_year => Time.now.year+1, :start_year => Time.now.year, :prompt => {:day => 'Día', :month => 'Mes', :year => 'Año'}  %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :responsabilidades %><br />
    <%= f.text_area :responsabilidades %>
  </div>
  <div class="field">
    <%= f.label :habilidades_necesarias %><br />
    <%= f.text_area :habilidades %>
  </div>
  <div class="field">
    <%= f.label :competencias_necesarias %><br />
    <%= f.text_area :competencias %>
  </div>  
  <div class="field">
    <%= f.label :estudios_mínimos %><br />
    <%= f.text_field :estudios %>
  </div>
  <div class="field">
    <%= f.label :requiere_viajar %><br />
    <%= f.check_box :requiere_viajar %>
  </div>
  <div class="field">
    <%= f.label :pago_mínimo %><br />
    <%= f.text_field :pago_minimo %>
  </div>    
  <div class="field">
    <%= f.label :pago_máximo %><br />
    <%= f.text_field :pago_maximo %>    
  <div class="field">
  <%= f.label :tipo %><br />
	<%= f.select(:tipo,["Medio Tiempo/Permanente","Tiempo Completo/Permanente","Medio Tiempo/Tempora","Tiempo Completo/Temporal","Práctica"])	%>
  </div>
    
  <%= render 'botones_forma'%>    
<% end %>

