<div data-role="header">
  <h1>Lista de Requerimientos</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Requerimiento.new %>
    <%= link_to 'Agregar', new_requerimiento_path, "data-icon" => "plus" %>
  <% end %>
</div>
<br/>
<div data-role="content">
<ul data-role="listview">
<% @requerimientos.each do |requerimiento| %>
    <li>
    <%= link_to(requerimiento) do%>
    <h3><%= requerimiento.nombre %></h3>
      <p><%= requerimiento.estatus %></p>
    <% end %>
    </li>
<% end %>
</ul>
</div>

