<div data-role="header">
  <h1>Lista de Vacantes</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Vacante.new %>
    <%= link_to 'Agregar', new_vacante_path, "data-icon" => "plus" %>
  <% end %>
</div>

<br/>
<div data-role="content">
    <ul data-role="listview">
      <% @vacantes.each do |vacante| %>
        <li>
          <%= link_to(vacante) do %>
            <h3><%= vacante.nombre %></h3>
            <p><%= vacante.tipo %> -- <%= vacante.area.nombre %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>