<%= form_for(@entrevistum, :html => {:id => "forma_entrevista"}) do |f| %>
  <%= render 'botones_forma'%>
<% if @entrevistum.errors.any? %><br/><center>
    <div id="error_explanation">
      <h2><%= pluralize(@entrevistum.errors.count, "error no permite", "errores no permiten") %> registrar esta entrevista:</h2>
	<br/>
      <ul>     
          <% @entrevistum.errors.each do |attribute, errors_array| %>
 
            <li><%= errors_array %></li>
            <% if errors_array.include? "solicitud"%>
              <% if permitted_to? :create, Solicitud.new %>
                <%= link_to "Crea una solicitud", new_solicitud_path %>
              <% end %>
            <% end %>
          <% end %>

      </ul>
    </div></center>
  <% end %>

  <div class="field">
    <%= f.label :solicitud %><br />	
    <% if params[:solicitud] %>
    <%= autocomplete_field_tag 'solicitud','', autocomplete_solicitud_nombre_entrevista_path, :update_elements => {:id => '#entrevistum_solicitud_id' }, :value => params[:solicitud], :size => 65 %>
    <% else %>
    <%= autocomplete_field_tag 'solicitud','', autocomplete_solicitud_nombre_entrevista_path, :update_elements => {:id => '#entrevistum_solicitud_id' }, :size => 65 %>
    <% end%>
    <%= f.hidden_field :solicitud_id , :value => params[:id]%>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha ,:prompt => {:day => 'Día', :month => 'Mes ',:year => 'Año', :hour => 'Hora', :minute => 'Minuto'},
    :order => [:day, :month, :year], :use_month_names => meses,:end_year => Time.now.year+1,:start_year => Time.now.year, :minute_step => 15, :start_time => 8 %>
  </div>
  <div class="field">
    <%= f.label :entrevistador%><br/>
    <%= autocomplete_field_tag 'entrevistador','', autocomplete_usuario_display_name_entrevista_path, :update_elements => {:id => '#entrevistum_usuario_id' } %>
    <%= f.hidden_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :ubicación %>  <br/>
    <%= f.text_field :ubicacion%>
  </div>

  <%= render 'botones_forma'%>  
<% end %>
