<div data-role="header">
  <h1>Lista de Entrevistas</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Entrevistum.new %>
    <%= link_to 'Agregar', new_entrevistum_path, "data-icon" => "plus" %>
  <% end %>
</div>
<br/>
<div data-role="content">
<ul data-role="listview">
<% @entrevista.each do |entrevistum| %>
  <li>	
  <%= link_to(entrevistum) do%>
  <h3><%= "%02d" %entrevistum.fecha.day %>/<%= meses[entrevistum.fecha.month-1] %>/<%= entrevistum.fecha.year%>-<%= "%02d" %calcularHora(entrevistum.fecha.hour) %>:<%= "%02d" % entrevistum.fecha.min%></h3>
 	<p><%=  entrevistum.solicitud.nombre %></p>

  <% end %>
  </li>
<% end %>
</ul>

</div>