<%= form_for(@solicitud, :html => {:id => "forma_solicitud"}) do |f| %>

   <% if @solicitud.errors.any? %><br/><center>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud.errors.count, "error no permite","errores no permiten") %> registrar esta solicitud:</h2>
	<br/>
      <ul>     
          <% @solicitud.errors.each do |attribute, errors_array| %>
 
            <li><%= errors_array %></li>
            <%if errors_array.include? "vacante"%>
              <% if permitted_to? :create , Vacante.new %>
            <%= link_to "Crea una vacante", new_vacante_path %> 
            <% end %>
            <% end %>
            <%if errors_array.include? "candidato"%>
              <% if permitted_to? :create, Candidato.new%>
           <%= link_to "Crea un candidato", new_candidato_path %>
          <% end %>
            <% end %> 
            
           <% end %>
          <br/>
        
      </ul>      
    </div> </center>
  <% end %>

  <div class="field">
    <%= f.label :candidato %><br/>
    <% if params[:candidato] %>
    <%= autocomplete_field_tag 'candidato','', autocomplete_candidato_nombre_solicituds_path, :update_elements => {:id => '#solicitud_candidato_id' }, :value => params[:candidato] %>
    <% else %>
    <%= autocomplete_field_tag 'candidato','', autocomplete_candidato_nombre_solicituds_path, :update_elements => {:id => '#solicitud_candidato_id' } %>
    <% end %>
    <%= f.hidden_field :candidato_id, :value => params[:id] %>
  </div>
  <div class="field">
    <%= f.label :vacante %><br/>
    <% if params[:vacante] %>
    <%= autocomplete_field_tag 'vacante','', autocomplete_vacante_nombre_solicituds_path, :update_elements => {:id => '#solicitud_vacante_id' }, :value => params[:vacante] %>
    <% else %>
    <%= autocomplete_field_tag 'vacante','', autocomplete_vacante_nombre_solicituds_path, :update_elements => {:id => '#solicitud_vacante_id' } %>
    <% end %>
    <%= f.hidden_field :vacante_id, :value => params[:id] %>
  </div>    
  <div>
  <%= f.submit "Guardar" , "data-theme" => "b",  "data-inline" => "true"%>
  </div> 
<% end %>
