<div data-role="header">
  <h1>Lista de Solicitudes</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Solicitud.new %>
    <%= link_to 'Agregar', new_solicitud_path, "data-icon" => "plus" %>
  <% end %>
</div>
<br/>
<div data-role="content">
<ul data-role="listview">
<% @solicituds.each do |solicitud| %>
  <li>
    <%= link_to(solicitud) do %>
    <h3><%= solicitud.nombre %></h3>
    <p><%= solicitud.estado %></p>
    <% end %>  
  </li>
<% end %>
</ul>

</div>