<div data-role="header">
  <h1>Detalles de la solicitud</h1>
  <%= link_to 'Regresar', solicituds_path, "data-icon" => "arrow-l" %>
</div>
<center><p id="notice"><%= notice %></p></center>

<%= render 'botones_show'%>
<br/>
<p>
  <b>Candidato:</b>
  <%= link_to @solicitud.candidato.nombre, @solicitud.candidato %>
</p>

<p>
  <b>Vacante:</b>
  <%= link_to @solicitud.vacante.nombre, @solicitud.vacante %>
</p>

<p>
  <b>Estatus:</b>
  <%= @solicitud.estado %>
</p>

<br/>
<div data-role="collapsible" data-collapsed="true">
<h5>Información del sistema</h5>
<p>
  <b>Creado por:</b>
  <%= link_to @usuario_crea.display_name ,@usuario_crea%> -  <%= "%02d" % @solicitud.created_at.day %>/<%= meses[@solicitud.created_at.month-1] %>/<%= @solicitud.created_at.year %> - <%= "%02d" % calcularHora(@solicitud.created_at.hour) %>:<%= "%02d" % @solicitud.created_at.min %>:<%= "%02d" % @solicitud.created_at.sec %>
</p>
<p>
  <b>Actualizado por:</b>
  <%= link_to @usuario_actualiza.display_name, @usuario_actualiza %> -  <%= "%02d" % @solicitud.updated_at.day %>/<%= meses[@solicitud.updated_at.month-1] %>/<%= @solicitud.updated_at.year %> - <%= "%02d" % calcularHora(@solicitud.updated_at.hour) %>:<%= "%02d" % @solicitud.updated_at.min %>:<%= "%02d" % @solicitud.updated_at.sec %>
</p>
</div>
<div data-role="collapsible" data-collapsed="true">
<h5>Entrevistas agendadas para esta solicitud</h5>
<center>
<% if permitted_to? :create, Entrevistum.new %>
<%= link_to 'Agregar Entrevista', new_entrevistum_path(:solicitud => @solicitud.nombre, :id => @solicitud.id), "data-role" => "button", "data-icon" => "plus", "data-inline" => "true" %>
<% end %></center>

<ul data-role="listview">
<% @solicitud.entrevistum.each do |entrevistum| %>
  <li>
    <%= link_to(entrevistum) do %> 	
    <h3><%= "%02d" %entrevistum.fecha.day %>/<%= meses[entrevistum.fecha.month] %>/<%= entrevistum.fecha.year%>-<%= "%02d" % calcularHora(entrevistum.fecha.hour) %>:<%= "%02d" % entrevistum.fecha.min%></h3>
    <p>Entrevistador : <%= entrevistum.usuario.display_name %></p>
    <% end %> 
  </li>
<% end %>  

</ul>
