<%= form_for(@area, :html => {:id => "forma_area"}) do |f| %>
<% if @area.errors.any? %><br/><center>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error no permite", "errores no permiten") %> registrar esta área:</h2>
	<br/>
      <ul>     
          <% @area.errors.each do |attribute, errors_array| %>
 
            <li><%= errors_array %></li>
            <% end %>

      </ul>
    </div></center>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />	
    <%= f.text_field :nombre%>
  </div>
    <div class="field">
    <%= f.label :descripción %><br />	
    <%= f.text_area :descripcion%>
  </div>
  <div class="field">
    <%= f.label :lugar%><br />
	<%= f.select(:lugar,["Monterrey","D.F."])	%>
  </div>
  <div class="field">
    <%= f.label :gerente %><br />	
    <%= autocomplete_field_tag 'gerente','', autocomplete_usuario_display_name_areas_path, :update_elements => {:id => '#area_usuario_id' } %>
    <%= f.hidden_field :usuario_id %>
  </div>
  <div>
  <%= f.submit "Guardar", "data-inline" => "true", "data-theme" => "b"%>  
</div>
<% end %>
