<%= form_for(@area, :html => {:id => "forma_area"}) do |f| %>
  <%= render 'botones_forma'%>
<% if @area.errors.any? %><br/><center>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error no permite", "errores no permiten") %> registrar esta área:</h2>
	<br/>
      <ul>     
          <% @area.errors.each do |msg| %>

            <li><%= msg[1] %></li>
            <% end %>

      </ul>
    </div></center>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />	
    <%= f.text_field :nombre%>
  </div>
    <div class="field">
    <%= f.label :descripción %><br />	
    <%= f.text_area :descripcion%>
  </div>
  <div class="field">
    <%= f.label :lugar%><br />
	<%= f.select(:lugar,["Monterrey","D.F."])	%>
  </div>
  <div class="field">
    <%= f.label :gerente %><br />	
    <%= text_field_with_auto_complete :area,:gerente_name,{}, {:url => usuarios_path(:format => :js), :method => :get, :param_name => 'search' }	%>
  </div>

  <%= render 'botones_forma'%>  
<% end %>
