<div data-role="header">
  <h1>Lista de Ãreas</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Area.new %>
    <%= link_to 'Agregar', new_area_path, "data-icon" => "plus" %>
  <% end %>
</div>
<br/>
<div data-role="content">
  <ul data-role="listview">    

<% @areas.each do |area| %>
  <li>
  <%= link_to(area) do%>
  <h3><%= area.nombre %></h3>
    <p>Gerente: <%= area.usuario.display_name %></p>
    <% end %>
  </li>
<% end %>
</ul>

