<div data-role="header">
  <h1>Detalles del Área </h1>
  <%= link_to 'Regresar', areas_path, "data-icon" => "arrow-l" %>
</div>
<br/>
<div data-role="content">
<center><p id="notice"><%= notice %></p></center>
<%= render 'botones_show'%>
<br/>
<p>
  <b>Nombre:</b>
  <%= @area.nombre %>
</p>

<p>
  <b>Descripción:</b>
  <%= @area.descripcion %>
</p>

<p>
  <b>Lugar:</b>
  <%= @area.lugar %>
</p>

<p>
  <b>Gerente:</b>
  <%= link_to @area.usuario.display_name, @area.usuario %>

</p>
<%= render 'botones_show'%>
<div data-role="collapsible" data-collapsed="true">
<h5>Información del sistema</h5>
<p>
  <b>Creado por:</b>
  <%= link_to @usuario_crea.display_name, @usuario_crea %> -  <%= "%02d" % @area.created_at.day %>/<%= meses[@area.created_at.month-1] %>/<%= @area.created_at.year %> - <%= "%02d" % calcularHora(@area.created_at.hour) %>:<%= "%02d" % @area.created_at.min %>:<%= "%02d" % @area.created_at.sec %>
</p>
<p>
  <b>Actualizado por:</b>
  <%= link_to @usuario_actualiza.display_name , @usuario_actualiza %> -  <%= "%02d" % @area.updated_at.day %>/<%= meses[@area.updated_at.month-1] %>/<%= @area.updated_at.year %> - <%= "%02d" % calcularHora(@area.updated_at.hour) %>:<%= "%02d" % @area.updated_at.min %>:<%= "%02d" % @area.updated_at.sec %>
</p>
</div>
<div data-role="collapsible" data-collapsed="true">
<h3>Departamentos que pertenecen a esta área</h3>
<center>
  <% if permitted_to? :create, Departamento.new %>
<%= link_to 'Agregar Departamento', new_departamento_path(:area => @area.id), "data-role" => "button", "data-inline" => "true", "data-icon" => "plus" %>
<% end %>
</center>
<br/>

<% if !@area.departamentos.empty? %>

<ul data-role="listview">

<% @area.departamentos.each do |depa| %>
  <li>
    <%= link_to depa.nombre, depa %>
  </li>
<% end %>

</ul>

<% else %>
<p>Esta área todavía no tiene ningún departamento</p>
<% end%>
</div>
</div>