<center><p id="notice"><%= notice %></p></center>
<h3>Detalles de la área</h3>
<%= render 'botones_show'%>
<br/>
<p>
  <b>Nombre:</b>
  <%= @area.nombre %>
</p>

<p>
  <b>Descripción:</b>
  <%= @area.descripcion %>
</p>

<p>
  <b>Lugar:</b>
  <%= @area.lugar %>
</p>

<p>
  <b>Gerente:</b>
  <%= link_to @area.usuario.display_name, @area.usuario %>

</p>
<hr/>
<h5>Información del sistema</h5>
<p>
  <b>Creado por:</b>
  <%= link_to @usuario_crea.display_name, @usuario_crea %> -  <%= "%02d" % @area.created_at.day %>/<%= meses[@area.created_at.month-1] %>/<%= @area.created_at.year %> - <%= "%02d" % calcularHora(@area.created_at.hour) %>:<%= "%02d" % @area.created_at.min %>:<%= "%02d" % @area.created_at.sec %>
</p>
<p>
  <b>Actualizado por:</b>
  <%= link_to @usuario_actualiza.display_name , @usuario_actualiza %> -  <%= "%02d" % @area.updated_at.day %>/<%= meses[@area.updated_at.month-1] %>/<%= @area.updated_at.year %> - <%= "%02d" % calcularHora(@area.updated_at.hour) %>:<%= "%02d" % @area.updated_at.min %>:<%= "%02d" % @area.updated_at.sec %>
</p>

<%= render 'botones_show'%>
<br/>
<div class="relaciones">
<hr />
</div>
<br/>
<center>
  <% if permitted_to? :create, Departamento.new %>
<%= link_to 'Agregar Departamento', new_departamento_path(:area => @area.id), :class => "primary button", :align => "left" %>
<% end %>
</center>
<br/>
<b>Departamentos que pertenecen a esta área</b>
<br/>
<br/>
<% if !@area.departamentos.empty? %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Jefe</th>
  </tr>

<% @area.departamentos.each do |depa| %>
  <tr>
    <td><%= link_to depa.nombre, depa %></td>
    <td><%= link_to Usuario.find(depa.usuario_id).display_name, Usuario.find(depa.usuario_id) %></td>
  </tr>
<% end %>

</table>

<% else %>
<p>Esta área todavía no tiene ningún departamento</p>
<% end%>