<div data-role="header">
  <h1>Lista de Usuarios</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
</div>

<div data-role="content">
<br />

<ul data-role="listview" class="bandIntro">
<% @usuarios.each do |usuario| %>
  <li>
    <%= link_to(usuario) do%>

    <% if !usuario.foto_file_name.blank? %>
    <%= image_tag(usuario.foto.url(:thumb)) %>
    <% else %>
    <%= image_tag("default.png") %>
    <% end %>
    
    <h3><%= usuario.display_name%></h3>
  
  <% end %>
  </li>
<% end %>
</ul>

</div>