<div data-role="header">
  <h1>Lista de Candidatos</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Candidato.new %>
    <%= link_to 'Agregar', new_candidato_path, "data-icon" => "plus" %>
  <% end %>
</div>
<center><h1>Lista de Candidatos</h1></center>
<br/>

<ul data-role="listview">

<% @candidatos.each do |candidato| %>
  <li>
    <%= link_to(candidato) do %>
    <h3><%= candidato.nombre %></h3>
    <p><%= candidato.carrera %></p>
    <% end %>  
 </li>
<% end %>
</ul>


