<%= form_for(@posicion,  :html => { :multipart => true , :id => "forma_posicion"}) do |f| %>

<br/>
<%= render 'botones_forma'%>
<br/>
  <% if @posicion.errors.any? %>
    <center><div id="error_explanation">
      <h2><%= pluralize(@posicion.errors.count, "error no permite","errores no permiten") %> registrar a esta posición:</h2>
	<br/>
      <ul>     
          <% @posicion.errors.each do |attribute, errors_array| %>
 
            <li><%= errors_array %></li>
           <% end %>
      </ul>
    </div></center>
  <% end %>
  <br/>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :Área%><br />
    <%= f.collection_select(:area_id, Area.all, :id , :nombre, options = {:prompt => "Selecciona un área"})  %>
  </div>

  <%= render 'botones_forma'%>  
<% end %>
