<div data-role="header">
  <h1>Lista de Posiciones</h1>
  <%= link_to 'Regresar', home_path, "data-icon" => "arrow-l" %>
  <% if permitted_to? :create, Posicion.new %>
    <%= link_to 'Agregar', new_posicion_path, "data-icon" => "plus" %>
  <% end %>
</div>
<br/>
<div data-role="content">
  
  <ul data-role="listview">
    <% @posicions.each do |pos| %>
      <li>
      <%= link_to(pos) do %>
        <h3><%= pos.nombre %></h3>
        <p><%= pos.area.nombre%></p>
      <% end %>
      </li>
    <% end %>
  </ul>