<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title><%= @title %></title>
  <%= javascript_include_tag ['jquery-1.6.1.min','jquery-ui-1.8.14.custom.min','jquery.ui.core.min',
    'jquery.ui.position.min','jquery.ui.widget.min','jquery.ui.autocomplete.min','autocomplete-rails',
    'rails','application']%>

  <%= stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css", :media => 'screen' %>

  <%= stylesheet_link_tag 'reclutamiento', :media => 'screen' %>
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>  
  <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>

  <%= csrf_meta_tag %>
    
</head>
<body>
      <div data-role="page">
     <!-- <div class="container">
     <%= render 'layouts/header' %> 
    
		<section class="round"> -->
			<%= yield %>
		<!--  </section>
  </div>
		<%= render 'layouts/footer' %> 
    </div> -->
  </div>
</body>
</html>
